* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  main {
    font-family: "Poppins", sans-serif;
    min-height: 40vh;
    width: 100%;
    background: linear-gradient(to right top, #84e2d1, #6cdbeb);

  }
  h1{
      font-size: 300%;
      text-align: center;
  }
